* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.buy {
    display: inline-block;
}

.learn {
    display: inline-block;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    Font-weight: 700;
    font-size: 35px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 25px;
}

h4.buy {
    background-color:firebrick;
    color: rgb(239, 191, 191);
    padding: 15px;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 20px; 
    margin-right: 40px;
}

h4.learn {
    background-color:firebrick;
    color: rgb(239, 191, 191);
    padding: 15px;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 20px; 
}
    

.container-1 {
    background-color:rgb(175, 220, 179);
    padding: 48px 0px;
}

.purse {
    border: dotted rgb(154, 197, 157) 10px;
    width: 90%;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.purse img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-2 {
    background-color:rgb(254, 234, 118);
    padding: 48px 0px;
}

.sweet-tea {
    border: dotted rgb(246, 217, 99) 10px;
    width: 90%;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sweet-tea img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-3 {
    background-color: rgb(234, 157, 81);
    padding: 48px 0px;
}

.headphones {
    border: dotted rgb(215, 121, 53) 10px;
    width: 90%;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.headphones img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

