* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #EEEEEE;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}


#nav-bar {
    background: white;
    display: flex;
    align-items: center;
}

#nav-bar a {
    margin-left: 14vw;
    display: inline-block;
    text-decoration: none;
    color: #B78069;
    font-weight: bolder;
    font-size: 30px;
    padding: 30px 30px 0px;
}

#nav-bar a:hover {
    text-shadow: 1px 1px #844834;
}

#nav-bar #logo img {
    margin-right: auto;
    font-weight: bold;
    max-width: 15vw;
    padding: 10px 30px 3px 30px;
    image-orientation: fixed;
}


#hero {
    background-image: url("../images/p_hero.jpg");
    height: 85vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    color: white;
    text-align: center;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

#hero img {
    margin: 0px;
    width: 50vw;
    max-width: 800px;
    color: #B78069;
    text-shadow: #844834 4px 4px; 
}

#hero2 {
    background-image: url("../images/p_hero.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webpage {
    margin-left: 5vw;
    margin-right: 5vw;
}


#about-me,
.side-by-side {
    display: flex;
    margin: 48px 0px;
}

#about-me #image-container,
.side-by-side #image-container {
    flex: 1;
}

#about-me #text-container,
.side-by-side #text-container {
    flex: 1;
    padding: 36px;
    color: #844834;
}

#about-me #image-container img,
.side-by-side #image-container img {
    width: 30vw;
    margin-left: 30%;
    margin-top: 0px;
    border: solid 7px #B78069;
    box-shadow: rgb(36, 1, 125) 10px 10px;
}

#about-me #text-container h3,
.side-by-side #text-container h3 {
    font-size: 5vw;
    margin: 20px;
}

#about-me #text-container p,
.side-by-side #text-container p {
    color: #844834;
    margin: 20px;
    font-size: 2vw;
}


#about-me #text-container a,
.side-by-side #text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    background-color: #B78069;
    color: white;
    padding: 24px 48px;
    display: inline-block;
    border-radius: 48px;
}

#about-me #text-container a:hover,
.side-by-side #text-container a:hover {
    background-color: #B78069;
    color: white;
    box-shadow: #844834 5px 5px; 

}

#abilities {
    margin: 20px; 
    padding: 48px;
    text-align: center;
}

#abilities h3 {
    font-size: 5vw;
    margin: 20px;
    color: #844834;
}

#abilities p {
    font-size: 2vw;
    color: #844834;
}

#interested {
    color: #844834;
    font-size: 4.5vw;
    margin: 20px; 
    padding: 40px;
    text-align: center;
}

#buttons {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}

#buttons span a {
    font-size: 3vw;
    font-weight: bold;
    text-decoration: none;
    background-color: #B78069;
    color: white;
    padding: 24px 48px;
    display: inline-block;
    border-radius: 48px;
}

#buttons span a:hover {
    background-color: #B78069;
    color: white;
    box-shadow: #844834 5px 5px; 

}

#footer {
    margin-top: 15vw;
    background-image: url("../images/footer.jpg");
    height: 30vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

#footer .hero-content {
    color: white;
    text-align: center;
    padding-top: 10vh;
}

#footer h3 {
    margin: 0px;
    font-size: 4vw;
    color: #EEEEEE;
    text-shadow: #844834 4px 4px; 
}

/* portfolio page */

#hero2 {
    background-image: url("../images/p_hero.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero2 .hero-content {
    color: white;
    text-align: center;
    padding-top: 10vh;
}

#hero2 h1 {
    margin: 0px;
    font-size: 8.5vw;
    color: #EEEEEE;
    text-shadow: #844834 4px 4px; 
}

#about-portfolio p {
    text-align: center;
    color: #844834;
    margin: 20px;
    font-size: 2vw;
}

.side-by-side #image-container-2 {
    flex: 1;
}

.side-by-side #text-container-2 {
    flex: 1;
    padding: 36px;
    color: #844834;
}

.side-by-side #image-container-2 img {
    width: 70%;
    margin-left: 15%;
    margin-top: 0px;
    border: solid 7px #B78069;
    box-shadow: rgb(36, 1, 125) 10px 10px;
}

.side-by-side #image-container-3 img {
    width: 60%;
    margin-left: 10vw;
    margin-top: 5vw;
    border: solid 7px #B78069;
    box-shadow: rgb(36, 1, 125) 10px 10px;
}

.side-by-side #text-container-2 h3 {
    font-size: 5vw;
    margin: 20px;
}

.side-by-side #text-container-2 p {
    color: #844834;
    margin: 20px;
    font-size: 2vw;
}


.side-by-side #text-container-2 a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    background-color: #B78069;
    color: white;
    padding: 24px 48px;
    display: inline-block;
    border-radius: 48px;
}

.side-by-side #text-container-2 a:hover {
    background-color: #B78069;
    color: white;
    box-shadow: #844834 5px 5px; 

}

/* digital gallery */

#layout-70s {
    max-width: 90vw;
    margin: 48px auto;
    text-align: center;
    border: solid 5px #B78069;
    box-shadow: #844834 10px 10px;
    padding: 24px;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

/* about me page */


.webpage-2 {
    margin-left: 40px;
    margin-right: 40px;
}

#about-me-photo img {
    float: left;
    width: 30vw;;
    margin: 3vw;
    border: solid 7px #B78069;
    box-shadow: rgb(36, 1, 125) 10px 10px;
}

#about-me-text {
    margin: 20px; 
    padding: 48px;
}

#about-me-text h3 {
    font-size: 5vw;
    margin: 20px;
    color: #844834;
}

#about-me-text p {
    font-size: 2vw;
    color: #844834;
}

#button {
    color: #844834;
    font-size: 4.5vw;
    margin: 20px; 
    padding: 40px;
    text-align: center;
}

#buttons-2 span a {
    font-size: 3vw;
    font-weight: bold;
    text-decoration: none;
    background-color: #B78069;
    color: white;
    padding: 24px 48px;
    display: inline-block;
    border-radius: 48px;
}

#buttons-2 span a:hover {
    background-color: #B78069;
    color: white;
    box-shadow: #844834 5px 5px; 

}

@media screen and (max-width: 1100px) and (min-width: 501px) {
    #nav-bar {
        flex-direction: column;
        align-items: center;
    }

    #nav-bar #logo img {
        max-width: 20vw;
    }

    #nav-bar a {
        margin-left: 0px;
        color: #B78069;
    }

    #nav-bar a:last-child {
        margin-bottom: 25px;
        color: #B78069;
    }

    #hero {
        height: 60vh;
    }

    #hero2 {
        height: 60vh;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "img"
            "about";
    }

    .webpage,
    .webpage-2 {
        margin: 20vw;
    }

    #about-me-text {
        grid-area: about;
    }

    #about-me-photo {
        grid-area: img;
    }

    #about-me-photo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40vw;
        margin-bottom: 0vw;
        margin-top: 5vw;
        float: none;
        border: solid 3px #B78069;
        box-shadow: rgb(36, 1, 125) 5px 5px;
    }

    #buttons {
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        justify-content: space-between;
    }
    
    #buttons span a {
        margin: 5vw;
        padding: 20px 20px;
        display: inline-block;
        border-radius: 48px;
    }

    .single-column {
        min-width: 500px;
        max-width: 1100px;
        margin: 50px auto;
    }

    #about-me #text-container a, .side-by-side #text-container a {
        margin: 5vw;
        padding: 20px 20px;
        display: inline-block;
        border-radius: 48px;
    }


    #about-me,
    .side-by-side {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "imga"
            "aboutt"
            "button";
    }

    #about-me #image-container {
        grid-area: imga;
    }

    #about-me #text-container {
        grid-area: aboutt;
    }

    .side-by-side #image-container {
        grid-area: imga;
    }

    .side-by-side #text-container {
        grid-area: aboutt;
    }

    #about-me #image-container img,
    .side-by-side #image-container img {
        grid-area: imga;
        max-width: 60vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #about-me #text-container h3,
    .side-by-side #text-container h3 {
        grid-area: aboutt;
        text-align: center;
    }

    #about-me #text-container p,
    .side-by-side #text-container p {
        grid-area: aboutt;
        text-align: center;
    }


    #about-me #text-container a,
    .side-by-side #text-container a {
        grid-area: button;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .side-by-side #image-container-3 img {
        grid-area: imga;
        max-width: 60vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }

    .side-by-side #text-container-2 {
        grid-area: imga;
    }
    
    .side-by-side #image-container-2 img {
        grid-area: imga;
        max-width: 60vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .side-by-side #text-container-2 h3 {
        grid-area: aboutt;
        text-align: center;
    }
    
    .side-by-side #text-container-2 p {
        grid-area: aboutt;
        text-align: center;
    }
    
    
    .side-by-side #text-container-2 a {
        grid-area: button;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}


@media screen and (max-width: 500px) {
    #nav-bar {
        flex-direction: column;
        align-items: center;
    }

    #nav-bar #logo img {
        max-width: 40vw;
    }

    #nav-bar a {
        margin-left: 0px;
        color: #B78069;
    }

    #nav-bar a:last-child {
        margin-bottom: 25px;
        color: #B78069;
    }

    #hero {
        height: 40vh;
    }

    #hero2 {
        height: 40vh;
    }
    
    #hero2 .hero-content {
        color: white;
        text-align: center;
        padding-top: 10vw;
        padding-bottom: 10vw;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "img"
            "about";
    }

    .webpage-2 {
        margin: auto;
    }

    #about-me-text {
        grid-area: about;
    }

    #about-me-photo {
        grid-area: img;
    }

    #about-me-photo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40vw;
        margin-bottom: 0vw;
        margin-top: 5vw;
        float: none;
        border: solid 3px #B78069;
        box-shadow: rgb(36, 1, 125) 5px 5px;
    }

    #buttons {
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        justify-content: space-between;
    }
    
    #buttons span a {
        margin: 5vw;
        padding: 20px 20px;
        display: inline-block;
        border-radius: 48px;
    }

    .single-column {
        min-width: 500px;
        max-width: 1100px;
        margin: 50px auto;
    }

    #about-me #text-container a, .side-by-side #text-container a {
        margin: 5vw;
        padding: 20px 20px;
        display: inline-block;
        border-radius: 48px;
    }


    #about-me,
    .side-by-side {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "imga"
            "aboutt"
            "button";
    }

    #about-me #image-container {
        grid-area: imga;
    }

    #about-me #text-container {
        grid-area: aboutt;
    }

    .side-by-side #image-container {
        grid-area: imga;
    }

    .side-by-side #text-container {
        grid-area: aboutt;
    }

    #about-me #image-container img,
    .side-by-side #image-container img {
        grid-area: imga;
        max-width: 100vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #about-me #text-container h3,
    .side-by-side #text-container h3 {
        grid-area: aboutt;
        text-align: center;
    }

    #about-me #text-container p,
    .side-by-side #text-container p {
        grid-area: aboutt;
        text-align: center;
    }


    #about-me #text-container a,
    .side-by-side #text-container a {
        grid-area: button;
        font-size: 4vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .side-by-side #image-container-3 img {
        grid-area: imga;
        max-width: 60vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }

    .side-by-side #text-container-2 {
        grid-area: imga;
    }
    
    .side-by-side #image-container-2 img {
        grid-area: imga;
        max-width: 60vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .side-by-side #text-container-2 h3 {
        grid-area: aboutt;
        text-align: center;
        font-size: 8vw;
    }
    
    .side-by-side #text-container-2 p {
        grid-area: aboutt;
        text-align: center;
        font-size: 3vw;
    }
    
    
    .side-by-side #text-container-2 a {
        grid-area: button;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 4vw;
    }
}