/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card-container {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card-style-2 {
    width: 350px;
    padding: 20px;
    box-shadow: 5px 5px 7px #1616166b;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

.brand-name {
    margin-left: 95px;
    margin-bottom: 30px;
    font-size: 30px;
}

.card-style-2 img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 300px;
}

.card-style-2 h2 {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.card-style-2 p {
    text-align: center;
    margin-bottom: 60px;
}

.animagram-footer {
    text-align: center;
    font-size: 23px;
    display: inline-grid;
    display: center;
    grid-template-columns: 1fr 1fr 1fr;
}

