#midnight-blue {
    text-align: center;
}
#midnight-blue-1 {
    background-color:#011627;
    color: white;
    text-align:center;
    padding: 24px;
}
#rocketpop-red {
    text-align: center;
}
#rocketpop-red-1 {
    background-color:#FF0022;
    color: white;
    text-align:center;
    padding: 24px;
}
#summer-sky-blue {
    text-align: center;
}
#summer-sky-blue-1 {
    background-color:#41EAD4;
    color: white;
    text-align:center;
    padding: 24px;
}

#sunshine-yellow {
    text-align: center;
}
#sunshine-yellow-1 {
    background-color:#F4D35E;
    color: white;
    text-align:center;
    padding: 24px;
}