#first-paragraph {
    color:cadetblue;
    background-color:black;
    font-style: italic;
    text-align: center
}

#second-paragraph {
    color: #7d0d8597;
    background-color:lightpink;
    font-size: 24px;
    text-decoration: underline;
}

#bold-paragraph {
    font-weight: bold;
    background-color: #228b22;
}

#span1 {
    color:blueviolet;
    font-weight: bold;
    font-size:20px;
}

#span2 {
    font-style: italic;
    text-decoration: underline;
}

#span3 {
    background-color:cadetblue;
}

#span4 {
    text-align: right;
}